<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top navbar-fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"  
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" routerLinkActive="active" aria-current="page"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active"  ><b>About</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active" ><b>Menu</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dining" routerLinkActive="active" ><b>Dining</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="speciality" routerLinkActive="active" ><b>Speciality</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reviews" routerLinkActive="active" ><b>Reviews</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="location" routerLinkActive="active" ><b>Location</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active" ><b>Contact</b></a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>


