<section class="customers flex modifier">
    <h2 class="customers_title">Customer Reviews</h2>
    <div class="flex modifier">
        <div class="testimonials">
            <p class="testimonials_text">This place is great! Atmosphere is chill and cool but the 
                staff is also really friendly. They know what they’re doing and what they’re talking 
                about, and you can tell making the customers happy is their main priority. </p>
            <img src="https://i.pinimg.com/236x/f0/7c/ba/f07cba15f64e5d78a68787d5442e853f.jpg" 
            alt="profile image" class="profile_img">
            <h3 class="profile_name">Sunidhi Chauhan</h3>
        </div>
        <div class="testimonials">
            <p class="testimonials_text"> 
                It’s a great experience. The ambiance is very welcoming and 
                charming. Amazing wines, food and service. Staff are extremely knowledgeable and make 
                great recommendations.</p>
            <img src="https://qph.fs.quoracdn.net/main-qimg-3e1cc93a097d94c6897a958970fd7a27" 
            alt="profile image" class="profile_img">
            <h3 class="profile_name">Himesh Sharma</h3>
        </div>
        <div class="testimonials">
            <p class="testimonials_text">We are so fortunate to have this place just a few minutes 
                drive away from home. Food is stunning, both the tapas and downstairs restaurant. 
                Cocktails wow, wine great and lovely selection of deserts. Love this place and will continue 
                to visit.</p>
            <img src="https://qph.fs.quoracdn.net/main-qimg-7dd65a9e790cf6cf032787756e5d6096"
             alt="profile image" class="profile_img">
            <h3 class="profile_name">Shreya Ghoshal</h3>
        </div>
    </div>
</section>