<header id="go_to_top">
    <div class="gradient">
        <div class="container">
            <h2 id="logo"><a> Milano </a></h2>  
        </div>
    </div>
    <div class="welcome_container">
        <h1 class="highlight"><i>Welcome</i></h1><br><br>
        <h1 class="brand"> The Milano </h1>
        <span class="symbol"> &#10059; </span>
        <h2> <b>Now Open </b></h2>        
    </div>
</header>


<section class="footer">

    <div class="share">
        <a href="#" class="btn">Facebook</a>
        <a href="#" class="btn">Twitter</a>
        <a href="#" class="btn">Instagram</a>
        <a href="#" class="btn">Linkedin</a>
    </div>

</section>





<div class="clearfix"></div>
<div class="row">
    <div class="footer-bottom">
        <div class="white">&#169; 2021 CopyRight . All Rights Reserved</div>
    </div>
</div>



